@media (max-width: 767px) {
    .sidebarCol {
        position: static !important;
        left: auto !important;
        height: auto !important;
        background-color: white !important;
        z-index:  0 !important;
        box-shadow: none !important;
    }
    
 }